body
{
background-color:#333333;
overflow: hidden;
}

frame{
border-style-type:none;
}

ul {
	position:absolute;
		top:-4px;
		left:-5px;
		right:-5px;
    list-style-type: none;
    background-color:white;
}

.new{
    display:none;
}

.sp:hover .new{ 
    display:block;
}

.left{
    float:right;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: #666666;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
     cursor:default;
}


.dropbtn img{
    float:right;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: gray;
    color:white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#666666;
    opacity: 0.9;
    min-width: 148px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: white;
color:#666666;}

.dropdown:hover .dropdown-content {
    display: block;
}

.wrap {
	position:absolute;
	top:100px;
 
  display: flex;
  align-items: center;
  justify-content: center;
}



.button {
  width: 200px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

#first{
    overflow:display;
}


#mySidenav a {
    position: absolute; 
    right: -100px;
    transition: 0.3s;
    padding: 9px; 
    width: 120px; 
    text-decoration: none; 
    font-size: 20px; 
    color: white; 
    border-radius: 15px 0px 0px 15px;
    cursor:pointer;
}

#mySidenav a:hover {
    right: 0px;
    background-color:#cccccc;
     cursor:pointer;
        color:black;
}

#about {
    bottom: 20px;
    background-color: #555;
 
}


